body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;


}
.education-entry{
  padding-bottom: 5px;
}
h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
/*  color: #E8E8E8;*/
 color: #2E4053;
  line-height: 29px;
  /*padding: 10px;*/
  margin-top:35px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  /*font-style: italic;
  */font-size: 15px;
/*  color: #eeeadd;*/
color: #9cafb7;
  line-height: 16px;
  float: left;


}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #9cafb7;
  line-height: 16px;
  float: right;

}

p {
  font-size: 18px;
  color: #333;
  line-height: 21px;
  padding-top:5px;
  padding-bottom: 10px;
  text-align: justify;
}

a{
/*  color: #b1b2aa;*/
 color: #cfd2cd;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-size: 20px;
  padding-bottom: 2px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: inline-block;
}

#navigation{

  color:"black";
  font-size: 20px;
  /*z-index: 100;
*/
/*margin-left: 300px;*/

  border-width: 5px;
  width: 600px;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

.white-href{

  font-weight: bold;
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;

}
.gray {
  background-color:  #6e7f80;
  padding-bottom: 20px;
 /* clear: both;*/
  padding-top: 10px;
}
.project {
  background-color:   #65737e;
  padding-bottom: 20px;
  clear: both;
  padding-top: 10px;
}

.dark-gray {
  background-color: #65737e;
}

/* TODO: Replace with image later */
#header {
/*  background-color: #484848;*/
  top: 0px;
  left: 0px;
  position: relative;
  opacity: 0.8;

  }

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

#title {
  background-color: #606060;

  text-align: center;
  height: 30px;
  overflow: hidden;
  padding: 10px;
  white-space: initial;
  text-overflow: clip;
  margin: 0 auto;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;


}



.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 250px;
  display: none;
  border-radius: 100%;
  padding-right: 30px;
  opacity: 1;
}

.img-responsive{
width:  200px;
height: 200px;

display:inline-block;
}

img {
  padding: 10px;
  height:auto;
}

span {
  padding: 5px;
}

#lets-connect {
  margin-top: -35px;
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 200px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 90%;
  margin: 0 5%;
}

#mapDiv {
  height: 500px;
  width: 100%;
  padding-bottom: 5%;
  background-color: #65737e;
  clear: both;
  margin-top: -35px;
  border-bottom: 500px;
  margin-bottom: -40px;

/*  padding-bottom: 50px;*/



}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


#particles-js{
  height: 90%;
  background: #1b1b1e ;
  z-index: -10;
  position: absolute;
  width: 100%;
}
.a_text_2{
  font-size: 17px;
  color: #333;
  margin-top: -20px;

}
